.overlay
  z-index 1
  absolute(left right bottom top)
  background rgba(black, .4)

.WorkSection
  height 100vh
  relative()
  z-index 1
  img
    height inherit
    width 100%
    object-fit cover
  &-content
    z-index 2
    relative()
    